* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #393c41;
  margin: 0;
  padding: 0;
}


body {
  width: 100%;
  overflow-x:hidden;
}


a {
  text-decoration: none;
}


@keyframes animateDown {
  0%, 20%, 50%, 80%, 100%{
    trasnsform:translateY(0);
  }

  40% {
    trasnsform:translateY(5px);
  }

  60% {
    trasnsform:translateY(3px);
  }

}